<script>
  import getImageUri from './utils/getImageUri';
  const imageUriPromise = getImageUri();
</script>

<main>
  <div>
  {#await imageUriPromise}
    <h1>Loading...</h1>
  {:then imageUri}
    <img src={imageUri} alt="CAT">
  {:catch err}
    <h1>Oops! Something went wrong</h1>
  {/await}
  </div>
</main>

<style>
  main {
    display: flex;
    flex-flow: column;
  }
  div {
    width:100%;
    height: 80%;
  }
  img {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    object-fit: contain;
  }
</style>
